*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: sans-serif;
}

.navBg{
	background-color: #00B1EA;
	height: 65px;
	width: 100%;
}

.navbar{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 25px;
	padding: 12px;
	gap: 10px;
}

.navbar a{
	font-family: sans-serif;
	font-size: 18px;
	line-height: 15px;
	color:  #0A0080;
}

.navbar img{
	width: 55px;
}

main{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
}

#line{
	margin-top: 10px;
	width: 10em;
}

.contentsRightOpts{
	margin-top: 10px;
	font-size: 10px;
}

.contentsRightOpts b{
	font-size: 10px;
}

.contentsRight b{
	font-size: 25px;
}

.contentsOpts{
	margin-top: 10px;
	display: flex-start;
	flex-direction: column;
	cursor: pointer;
}

.contentsOpts i{
	color: black;
}

.contentsOpts span{
	margin-left: 5px;
	color: gray;
}

.contentsOpts hr{
	width: 14.5em;
	margin-top: 1px;
}

#textSteal{
	margin-top: 3px;
}

.elementLeft:hover{
	background: #F5F5F5;
	background-size: 10px;
}

.contentsOpts li{
	padding: 8px;
}

.contentsRightOpts p{
	margin-top: 10px;
	color: #31ADEF;
	cursor: pointer;
}

hr{
	opacity: 30%;
}

.fieldForm{
	padding: 62px;
	border-radius: 5px;
	border-color: rgba(229, 229, 229, 0.31);
	stroke-opacity: 0.4;
}

.informationsLabel small{
	font-size: 11px;
}

.informationsLabel input{
	padding: 6px;
	width: 250px;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
}

.informationsLabel input:focus{
	outline-color: #44B8EB;
}

.btnsForm{
	margin-top: 10px;
	display: flex;
	gap: 15px;
	align-items: center;
}

.btnsForm input[type=submit]{
	border: none;
	background-color: #00B1EA;
	color: white;
	font-size: 12px;
	padding: 12.5px;
	border-radius: 2px;
	cursor: pointer;
	width: 100px;
}

.btnsForm a{
	text-decoration: none;
	color: rgb(0, 158, 227);
	font-size: 12px;
}

.footer{
	background-color: #f5f5f5;
	padding: 20px;
	font-size: 9px;
	position: fixed;
	width: 100%;
	bottom: 0;
	display: flex;
	justify-content: space-between;
}

.footer a{
	color: black;
}

.footerText{
	color: rgba(0,0,0,.55);
}

.informationsLabelSec small{
	font-size: 11px;
}

.informationsLabelSec input{
	padding: 6px;
	width: 250px;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
}

.informationsLabelSec input:focus{
	outline-color: #44B8EB;
}

.informationsLabelSec{
	margin-top: 8px;
}

@media(max-width: 450px){
	fieldset{
		border: none;
	}
	main{
		display: inline-block;
		text-align: center;
	}
	hr{
		margin: 0 auto;
	}
}